body {
    background-color: #F9FAFB;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    background-color: #ffffff;
    max-width: 640px;
    width: 100%;
}

h1 {
    text-align: center;
}