@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    background-color: #7E22CE;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    margin-top: 25px;
}

nav li:not(:first-of-type) {
    margin-left: 30px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 1px;
}

ul {
    list-style-type: none;
    display: flex;
}

/* tooltip */

a[data-tooltip] {
    position: relative;
    cursor: pointer;
}

a[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 125%;
    /* Show above the link */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 6px 10px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    font-size: 12px;
    z-index: 100;
}

a[data-tooltip]:hover::after {
    opacity: 1;
}