@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #27264B;
}

main {
    font-family: "IBM Plex Sans", sans-serif;
    background-color: #F8FAFE;
    display: flex;
    border-radius: 8px;
    padding: 3rem 0 3.5rem 0;
}

ul {
    list-style-type: none;
}

ul li::before {
    content: '\2713';
    color: green;
}

section {
    padding: 1rem 1rem 2rem 1rem;
    border-radius: 6px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
    color: rgb(4, 51, 82);
    width: 25%;
    margin: auto;
}

p:first-of-type {
    margin: 2.75rem 0 1.75rem 0;
}

p:nth-of-type(2) {
    text-transform: uppercase;
}

p {
    text-align: center;
}

p:not(:last-of-type) {
    font-weight: 700;
}

p:last-of-type {
    font-weight: 500;
    font-size: 14px;
}

a {
    border: 1px solid rgb(30, 28, 28);
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    font-family: "IBM Plex Sans", sans-serif;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 500;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
}

h2 {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    font-size: 16px;
}

h2:nth-child(1) {
    color: #ffffff;
}

.price {
    font-size: 2.5rem;
}

section:first-of-type h2 {
    background-color: #F8FAFE;
    color: rgb(30, 28, 28);
}

section:first-of-type {
    margin-right: 0;
}

section:nth-of-type(2) h2 {
    background: linear-gradient(to right, #C1DFFF, #B57DFE);
}

section:last-of-type h2 {
    background: linear-gradient(to right, #FFB1C1, #FFC67F);
}

section:last-of-type {
    margin-left: 0;
}

/* Tablets */
@media (min-width: 600px) and (max-width: 900px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* Two equal columns for the first two sections */
        grid-template-rows: auto auto;
        /* Automatically adjusts row heights */
        gap: 25px;
        /* Space between grid items */
    }

    section {
        width: 100%;
    }

    main>section:nth-child(3) {
        grid-column: 1 / span 2;
        /* Make the third section span the full width of the grid */
        grid-row: 2;
        /* Place the third section in the second row */
    }
}